*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
}
.header{
    display:flex;
    background-color:black;
    color:white;
    height:100px;
    font-size:25pt;
    justify-content:center;
    align-items:center;
    
}
